
body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 20px 40px 20px 40px;
    overflow-wrap: break-word;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    max-width: 500px;
}
.redes{
    list-style-type: none;
    padding: 0;
}
#redes-item{
    margin-bottom: 10px;
    display: inline-block;
}
.encabezado-container{
    width: 100%;
    background-color: #ece7c7;
    border-radius: 2%;
    padding: 5px;
}
img{
    display: block;
    margin: auto;
}
h1{
    text-align: center;
    color: Black;
}
.card{
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}